---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Cyber Walkthrough Categories | DevRoss">
    <h2>Walkthrough Categories</h2>
    <ul>
        <li><a href="/walkthroughs/htb">🧱 HTB Walkthroughs</a></li>
        <li><a href="/walkthroughs/thm">🧠 THM Walkthroughs</a></li>
        <li><a href="/walkthroughs/soc">🔎 SOC Walkthroughs</a></li>
    </ul>
</Layout>
